#text{
    max-height: 90%;
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
    margin-bottom: 35%;
}
#textnodemcu{
    margin-top:5% ;
    margin-left: 2%;
    margin-bottom: 7%;
    float: left;
    width: 70%;
}
#nod{
    width: 20%;
    height: 10%;
    float: left;
}
#medidas{
    .sensores{
        margin-bottom: auto;
        img{
            width: 20%;
            height: 10%;
            float: right;
        }
    
        p{
            margin-top:10% ;
            margin-right: 7%;
            float: left;
            width: 70%;
            strong{
                font-size: 20px;
            }
        }

    }
    h3{
        text-align: center;
    }
}

h2{
    text-align: center;
}



// footer




