
#general{
    margin-left: 5%;
    margin-top: 5%;
    width: 100%;
    height: 90;
    #grafica{
        float:left;
        width: 60%;
    }
    #form{
        float: right;
        p{
            font-weight: bolder;
        }
        width: 40%;
    
    }

}