<div id="body">
    
    <h1>¿Qué contaminantes son nocivos?</h1><br>
    <p>Los contaminantes que mostramos en esta web son entre todos los contaminantes que hay los que pueden ser mas perjudiciales para el para el medioambiente, por tanto para 
        nosotros y nuestro planeta.</p>
    <p> A continuación os explicaremos que son, para que sirve cada contaminante y entre qué valores deben estar los diferentes contaminantes:</p>

    <ul>
        <li><h4>Ozono (O3)</h4></li>
            <p>El ozono a nivel del suelo ―que no debe confundirse con la capa de ozono en la atmósfera superior― es uno de los principales componentes de la niebla tóxica. 
                Éste se forma por la reacción con la luz solar (fotoquímica) de contaminantes como los óxidos de nitrógeno (NOx) procedentes de las emisiones de vehículos o 
                la industria y los compuestos orgánicos volátiles (COV) emitidos por los vehículos, los disolventes y la industria. 
                El límite recomendado en las Directrices de la OMS sobre la Calidad del Aire es 100 μg/m3 de media en 8h.
            </p>
        <li><h4>Dióxido de nitrógeno (NO2)</h4></li>
            <p> Como contaminante atmosférico, el NO2 puede correlacionarse con varias actividades: </p>
                    <ul>
    
                        <li>- En concentraciones de corta duración superiores a 200 mg/m3, es un gas tóxico que causa una importante inflamación de las vías respiratorias</li>
                        
                        <li>- Es la fuente principal de los aerosoles de nitrato, que constituyen una parte importante de las PM2.5 y, en presencia de luz ultravioleta, del ozono.</li>

                    </ul>

            <p> Las principales fuentes de emisiones antropogénicas de NO2 son los procesos de combustión (calefacción, generación de electricidad y motores de vehículos y barcos)</p>
            <p>El límite recomendado en las Directrices de la OMS sobre la Calidad del Aire es 40 μg/m3 de media anual y 200 μg/m3 de media en 1h</p>
            
        <li><h4>Partículas (PM)</h4></li>
            <p>Las PM son un indicador representativo común de la contaminación del aire. Afectan a más personas que cualquier otro contaminante. Los principales componentes de las PM 
                son los sulfatos, los nitratos, el amoníaco, el cloruro de sodio, el hollín, los polvos minerales y el agua. Consisten en una compleja mezcla de partículas sólidas y 
                líquidas de sustancias orgánicas e inorgánicas suspendidas en el aire. 
            </p>
            <p>
                Si bien las partículas con un diámetro de 10 micrones o menos (≤ PM10) pueden penetrar y alojarse profundamente dentro de los pulmones, existen otras partículas aún más dañinas 
                para la salud, que son aquellas con un diámetro de 2,5 micrones o menos (≤ PM2.5). Las PM2.5 pueden atravesar la barrera pulmonar y entrar en el sistema sanguíneo
            </p>
            <p>
                El límite recomendado en las Directrices de la OMS sobre la Calidad del Aire es para :
            </p>
                <h5>Partículas finas (PM2.5) </h5>
                <p> 10 μg/m3 de media anual <br>
                25 μg/m3 de media en 24h</p>
                <h5>Partículas gruesas (PM10)</h5>
                <p> 20 μg/m3 de media anual <br>
                50 μg/m3 de media en 24h</p>

        <li><h4>Dióxido de azufre (SO2)</h4></li>
            <p>
                El SO2 es un gas incoloro con un olor penetrante que se genera con la combustión de fósiles (carbón y petróleo) y la fundición de menas que contienen azufre.
                La principal fuente antropogénica del SO2 es la combustión de fósiles que contienen azufre usados para la calefacción doméstica, la generación de electricidad 
                y los vehículos a motor.
            </p> 
            
            <p> El límite recomendado en las Directrices de la OMS sobre la Calidad del Aire es 20 μg/m3 media en 24h y 500 μg/m3 de media en 10 min</p>
        
    </ul>
</div>