#general{
    width: 100%;

}
h3{
    text-align: center;
}
#grafica-historicos{
    width:50%;
    height: 60%;
    float: left;
}
#grafica-arduino{
    width:50%;
    height: 60%;
    float: left;
}