

#footcolor{
        float:left;
        text-align: center;
        margin-left: 15%;
}

#img1{
        width: 15%;
        float: right;
        margin-left: 10%;
}
#img{
        width: 15%;
        float: left;
        margin-left: 10%;
}