

    <div class="container">
        <img id="img" src="/assets/img/cofinanciadoEN_derecha.png" alt="cofinanciacion">
        <p id="footcolor">  &copy; José Granados Rodríguez</p>
        <img id="img1" src="/assets/img/Proyecto_Erasmusv3.png" alt="LogoFooter">
    </div>


        <!-- <div class="container">
          <div class="row">
            <div class="col l6 s12">
                <img id="img" src="/assets/img/cofinanciadoEN_derecha.png" alt="cofinanciacion">
            </div>
            <div class="col l4 offset-l2 s12">
              <img id="img1" src="/assets/img/Proyecto_Erasmusv3.png" alt="LogoFooter">
            </div>
          </div>
        </div> -->
        <!-- <div class="footer-copyright">
            <div class="container">
              <img id="img" src="/assets/img/cofinanciadoEN_derecha.png" alt="cofinanciacion">
                <p>  &copy; José Granados Rodríguez</p>
                <img id="img1" src="/assets/img/Proyecto_Erasmusv3.png" alt="LogoFooter">
            </div>
        </div> -->




