<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/series-label.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <style>
        #container {
            min-width: 310px;
            max-width: 800px;
            height: 400px;
            margin: 0 auto
        }
    </style>
    <title>Document</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarColor03">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>


    <form id="form" name="form">
        <button type="submit" class="btn btn-primary">Cargar grafica</button>
    </form>
    <div id="container" style="min-width: 310px; height: 600px"></div>
    <script type="text/javascript">
        
        $('form').on('submit', evt => {
            evt.preventDefault();
            var query = {
                estacion: 8495
            }
            let params = new URLSearchParams(location.search);
            window.contract = params.get('id');
            fetch('https://proyectoaqi.herokuapp.com/tasks/recent/'+window.contract, {
                method: 'GET',
                headers: { 'Content-Type': 'application/json' }
            }).then(resp => resp.json())
                .then(datos => {
                    window.fechas = new Array()
                    window.co = new Array()
                    window.no2 = new Array()
                    window.o3 = new Array()
                    window.p = new Array()
                    window.pm10 = new Array()
                    window.so2 = new Array()

                    for (let i = 0; i < datos.length; i++) {
                        fechas[i] = datos[i].data.time.s
                        //co[i] = datos[i].data.iaqi.co.v
                        no2[i] = datos[i].data.iaqi.no2.v
                        //o3[i] = datos[i].data.iaqi.o3.v
                        p[i] = datos[i].data.iaqi.p.v
                        pm10[i] = datos[i].data.iaqi.pm10.v
                        //so2[i] = datos[i].data.iaqi.so2.v
                    }

                    Highcharts.chart('container', {
                        title: {
                            text: 'Datos Calidad del Aire'
                        },
                        subtitle: {
                            text: 'Bermejales'
                        },
                        xAxis: {
                            title: {
                                text: 'Fecha'
                            },
                            type: 'datetime',
                            categories: fechas
                        },
                        yAxis: {
                            title: {
                                text: 'Concentration'
                            }
                        },
                        legend: {
                            layout: 'vertical',
                            align: 'right',
                            verticalAlign: 'middle'
                        },
                        plotOptions: {
                            series: {
                                label: {
                                    connectorAllowed: false
                                }
                            }
                        },
                        series: [{
                            name: 'CO',
                            data: co
                        }, {
                            name: 'NO2',
                            data: no2
                        }, {
                            name: 'O3',
                            data: o3
                        }, {
                            name: 'PM10',
                            data: pm10
                        }, {
                            name: 'SO2',
                            data: so2
                        }],
                        responsive: {
                            rules: [{
                                condition: {
                                    maxWidth: 500
                                },
                                chartOptions: {
                                    legend: {
                                        layout: 'horizontal',
                                        align: 'center',
                                        verticalAlign: 'bottom'
                                    }
                                }
                            }]
                        }
                    });



                })
                .catch(err => console.log(err))

        })
    </script>



</body>

</html>