<nav class="nav-wrapper green" >
    <div class="container">
        <img src="/assets/img/p_erasmus.png" width="6%" height="6%" alt="logo"/><a routerLink="/" class="brand-logo">REE y Calidad del Aire</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a routerLink="externos">Datos Externos</a></li>
            <li><a routerLink="propios">Datos Propios</a></li>
            <li><a routerLink="explicacion">¿Cómo obtenemos los datos?</a></li>
            <li><a routerLink="contaminantes">Información contaminantes </a></li>
          </ul>
    </div>
</nav>
